<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Seat Booking</title>
    <link rel="stylesheet" href="css/booking.css">
</head>

<body>
    <div id="preloader"></div>
    <div class="movie-container">
        <label>Pick a movie:</label>
        <select id="movie">
            <option value="650">Peaky Blinders (₹650)</option>
            <option value="850">Vikram (₹850)</option>
            <option value="550">Brahmastra (₹550)</option>
            <option value="750">Avatar : The Way of Water (₹750)</option>
        </select>
    </div>

    <ul class="showcase">
        <li>
            <div class="seat"></div>
            <small>N/A</small>
        </li>
        <li>
            <div class="seat selected"></div>
            <small>Selected</small>
        </li>
        <li>
            <div class="seat occupied"></div>
            <small>Occupied</small>
        </li>
    </ul>

    <div class="container">
        <div class="movie-screen">
            <img src='/css/screen-thumb.png' alt='screen' />
        </div>

        <div class="row-container">
            <div class="row">
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
            </div>
            <div class="row">
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat occupied"></div>
                <div class="seat occupied"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
            </div>
            <div class="row">
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat occupied"></div>
                <div class="seat occupied"></div>
            </div>
            <div class="row">
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
            </div>
            <div class="row">
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat occupied"></div>
                <div class="seat occupied"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
            </div>
            <div class="row">
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
            </div>
            <div class="row">
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat occupied"></div>
                <div class="seat occupied"></div>
                <div class="seat occupied"></div>
                <div class="seat"></div>
            </div>
            <form method="post">
            <div class="text-wrapper">
                <p class="text">Selected Seats <span id='count'>0</span>
                <p class="text">Total Price ₹<span id="total">0</span></p>
            </div>
            <input class="btn" type="button" value="submit">
            </form>
        </div>

    </div>
    <script>
        setTimeout(function() {
    $('#preloader').fadeOut('slow');
    }, 1000);
    </script>

    <!-- <div class="text-wrapper">
        <p class="text">Selected Seats <span id='count'>0</span>
            <p class="text">Total Price ₹<span id="total">0</span></p>
    </div> -->

    <script>
        const seats = document.querySelectorAll(".row .seat:not(.occupied)");
        const seatContainer = document.querySelector(".row-container");
        const count = document.getElementById("count");
        const total = document.getElementById("total");
        const movieSelect = document.getElementById("movie");

        // Another Approach

        // seats.forEach(function(seat) {
        //   seat.addEventListener("click", function(e) {
        //     seat.classList.add("selected");
        //     const selectedSeats = document.querySelectorAll(".container .selected");
        //     selectedSeathLength = selectedSeats.length;
        //     count.textContent = selectedSeathLength;
        //     let ticketPrice = +movieSelect.value;
        //     total.textContent = ticketPrice * selectedSeathLength;
        //   });
        // });

        // localStorage.clear();

        populateUI();

        let ticketPrice = +movieSelect.value;

        // Save selected movie index and price
        function setMovieData(movieIndex, moviePrice) {
            localStorage.setItem("selectedMovieIndex", movieIndex);
            localStorage.setItem("selectedMoviePrice", moviePrice);
        }

        function updateSelectedCount() {
            const selectedSeats = document.querySelectorAll(".container .selected");

            seatsIndex = [...selectedSeats].map(function (seat) {
                return [...seats].indexOf(seat);
            });

            localStorage.setItem("selectedSeats", JSON.stringify(seatsIndex));

            let selectedSeatsCount = selectedSeats.length;
            count.textContent = selectedSeatsCount;
            total.textContent = selectedSeatsCount * ticketPrice;
        }

        // Get data from localstorage and populate
        function populateUI() {
            const selectedSeats = JSON.parse(localStorage.getItem("selectedSeats"));

            if (selectedSeats !== null && selectedSeats.length > 0) {
                seats.forEach(function (seat, index) {
                    if (selectedSeats.indexOf(index) > -1) {
                        seat.classList.add("selected");
                    }
                });
            }

            const selectedMovieIndex = localStorage.getItem("selectedMovieIndex");

            if (selectedMovieIndex !== null) {
                movieSelect.selectedIndex = selectedMovieIndex;
            }
        }

        // Movie select event

        movieSelect.addEventListener("change", function (e) {
            ticketPrice = +movieSelect.value;
            setMovieData(e.target.selectedIndex, e.target.value);
            updateSelectedCount();
        });

        // Adding selected class to only non-occupied seats on 'click'

        seatContainer.addEventListener("click", function (e) {
            if (
                e.target.classList.contains("seat") &&
                !e.target.classList.contains("occupied")
            ) {
                e.target.classList.toggle("selected");
                updateSelectedCount();

            }
        });


        // Initial count and total rendering
        const submit = document.querySelector(".btn")
        submit.addEventListener("click", () => {
            updateSelectedCount();
            console.log(count.innerText)
            console.log(total.innerText)
            localStorage.clear();
            count.innerText = 0;
            total.innerText = 0;
            window.location.href = "/profile";
        })
// updateSelectedCount();
// console.log(count)
// localStorage.clear();
// console.log(total)
// console.log(count)
    </script>
</body>

</html>