@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#preloader{
    background: rgba(247,247,247,255) url('/css/Loading_icon7.gif') no-repeat center center;
    background-size: 30%;
    height:100%;
    width: 100%;
    position: fixed;
    z-index: 100000;
}
body{
    background-color: white;
    min-height: 270vh;
    scroll-behavior: smooth;
}
header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 25px 100px;
    z-index: 10000;
    background-color: rgb(15, 15, 15);
}
header .logo{
    position: relative;
    font-weight: 700;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a i{
    text-transform: uppercase;
    position: relative;
    margin: 0 25px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 100px;
    transition: 0.6s;
    font-size: 15px;
}
.home{
  background-color: white;
  border-radius: 10px;
  height: 30px;
  padding-top: 5px;
}
.home a i{
  color: #151515;
  font-weight: 100px;
}
.sticky{
    background-color: rgb(255, 255, 255);
    padding: 20px 100px;
    box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.5);
}
.sticky ul li a i,.sticky .logo{
    color: black;
}
.f1{
    height: 210vh;
}
.first{
    background-image: linear-gradient(to bottom, rgb(148, 148, 148,0),rgb(15, 15, 15,1)), url('/css/mainposter2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}
.first .top .coloredbox {
    position: absolute;
    margin-top: 300px;
    margin-left: 26%;
    text-align: center;
    background-color: rgb(175, 0, 0);
    color: white;
    height: 20px;
    width: 40px;
    border-radius: 5px;
}
.top h2{
    padding-top: 300px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 60px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: 'Abril Fatface', cursive;
    text-shadow: 0px 15px 12px black;
}
.top .nice{
    text-transform: uppercase;
    margin-left: 60px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.top .btn1{
    margin-left: 60px;
    margin-top: 10px;
    text-align: center;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(175, 0, 0);
    box-shadow: 0px 5px 30px 8px rgb(175, 0, 0);
    color: white;
    border:none;
    transition-duration: 1s;
}
.top .btn1:hover{
    background-color: rgb(2, 109, 22);
    box-shadow: 0px 5px 30px 8px rgb(2, 109, 22);
}
.first .poster img{
    background: linear-gradient(to bottom, transparent);
    margin-left: 70%;
    height: 350px;
}
.f2{
    background-color: rgb(15, 15, 15);
    height: 110vh;
}
.f2 .fir{
    text-transform: uppercase;
    color: white;
    margin-left: 60px;
    margin-bottom: 30px;
}
.aa .swiper {
    position: relative;
    width: 98%;
    height: 300px;
  }

 .aa .swiper-slide a img{
    text-align: center;
    font-size: 18px;
    background: transparent;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .aa .swiper-slide a img {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  .f2 .sec{
    text-transform: uppercase;
    color: white;
    margin-left: 60px;
    margin-top: 30px;
  }
  .bb .swiper {
    position: relative;
    width: 120%;
    height: 300px;
    margin-top: 30px;
  } 
 .bb .swiper-slide a img {
    text-align: center;
    font-size: 18px;
    background: transparent;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .bb .swiper-slide a img {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .container {
    position: relative;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    background: rgb(15, 15, 15);
  }
  .abt h2{
    color: white;
    text-transform: uppercase;
    padding-left: 60px;
    background-color: rgb(15, 15, 15);
  }
  
  .card {
    position: relative;
    width: 300px;
    height: 350px;
    background: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card::before {
    content: '';
    position: absolute;
    inset: -10px 50px;
    border-top: 4px solid var(--color);
    border-bottom: 4px solid var(--color);
    transform: skewY(15deg);
    transition: 0.5s ease-in-out;
  }
  
  .card:hover::before {
    inset: -10px 40px;
    transform: skewY(0deg);
  }
  
  .card::after {
    content: '';
    position: absolute;
    inset: 60px -10px;
    border-left: 4px solid var(--color);
    border-right: 4px solid var(--color);
    transform: skew(15deg);
    transition: 0.5s ease-in-out;
  }
  
  .card:hover::after {
    inset: 40px -10px;
    transform: skew(0deg);
  }
  
  .card .content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: #151515;
    gap: 20px;
    overflow: hidden;
    z-index: 10;
  }
  
  .card .content .icon {
    color: var(--color);
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    background: #151515;
    box-shadow: 0 0 0 4px #151515,
      0 0 0 6px var(--color);
    transition: 0.5s ease-in-out;
  }
  
  .card:hover .content .icon {
    background: var(--color);
    color: #151515;
    box-shadow: 0 0 0 4px #151515,
      0 0 0 300px var(--color);
  }
  
  .card .content .text h3 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    transition: 0.5s ease-in-out;
  }
  
  .card:hover .content .text h3 {
    color: #151515;
  }
  
  .card .content .text p {
    color: #999;
    transition: 0.5s ease-in-out;
  }
  
  .card:hover .content .text p {
    color: #151515;
  }
  
  .card .content .text a {
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: var(--color);
    color: #151515;
    text-decoration: none;
    font-weight: 500;
    margin-block-start: 10px;
    padding: 8px 15px;
  }
  
  .card:hover .content .text a {
    background: #151515;
    color: var(--color);
  }
  .footer{
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    height: 30vh;
    background-color: rgb(15, 15, 15);
  }
  .footer h2{
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
  }
 .footer .sm ul {
    display: flex;
    position: absolute;
    left: 37%;
    margin-top: 30px;
  }
  
 .footer .sm ul li {
    list-style: none;
  }
  
 .footer .sm ul li a {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }
  
 .footer .sm ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
 .footer .sm ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
 .footer .sm ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
 .footer .sm ul li a:hover:before {
    top: 0;
  }
  
 .footer .sm ul li:nth-child(1) a:before{
    background: #3b5999;
  }
  
  .footer .sm  ul li:nth-child(2) a:before{
    background: #55acee;
  }
  
  .footer .sm  ul li:nth-child(3) a:before {
    background: #0077b5;
  }
  
  .footer .sm  ul li:nth-child(4) a:before {
    background: #dd4b39;
  }
  .copy{
    text-align: center;
    height: 5vh;
    background-color: rgb(15, 15, 15);
    color: white;
  }